// Colors {
$accent_color: #5239EA;
$main_page: #140827;
// }

.section1 {
  background: radial-gradient(60.71% 38.62% at 72.37% 41.81%, $accent_color 0%, rgba(20, 8, 39, 0.00) 100%);

  margin: 1em;
  display: grid;
  grid-template-columns:
    repeat(12, 1fr)
}

.desktop3d {
  grid-column-start: 6;
  grid-column-end: 12;
}

