@use "components/Desktop3D";


// Colors {
$accent_color: #5239EA;
$main_page: #140827;
// }

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: $main_page;
}
