@font-face {
  font-family: 'Montserrat-Regular'; /* Choose a name for your font */
  src: local('Montserrat-Regular'), url('./Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}